In [24]:
import tweepy
import pandas as pd

In [25]:
%run ./keys.ipynb

In [26]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [27]:
number_of_tweets = 15000
tweets = []
quote_status = []
lang = []
favorite_count = []
retweet_count = []
time = []
tweet_id = []

for i in tweepy.Cursor(api.search, q = "barchie", tweet_mode="extended", wait_on_rate_limit="True").items(number_of_tweets):
    tweets.append(i.full_text)
    quote_status.append(i.is_quote_status)
    lang.append(i.lang)
    favorite_count.append(i.favorite_count)
    retweet_count.append(i.retweet_count)
    time.append(i.created_at)
    tweet_id.append(i.id)

In [28]:
# full_text
# geo (??)
# is_quote_status
# lang
# favorite_count
# retweet (??)
# retweet_count

In [31]:
df = pd.DataFrame({'tweets': tweets, 'quote_status': quote_status, 'language': lang, 'favorite_count': favorite_count, 'retweet_count': retweet_count, 'time':time, "id":tweet_id})

In [32]:
df

,tweets,quote_status,language,favorite_count,retweet_count,time,id
0,RT @ThatsRiverdale: Best part abt fwb between ...,False,en,0,1,2021-03-03 01:11:39,1366919164384800770
1,RT @barchiewalker: NO BUT HE IS LITERALLY SLID...,False,en,0,1,2021-03-03 01:10:48,1366918949355606021
2,@hopextete @vibezreinhart kkkkk nÃ£o tenho culp...,False,pt,0,0,2021-03-03 01:08:53,1366918468537303040
3,RT @archiebstty: riverdale promoting barchie o...,False,en,0,46,2021-03-03 01:08:38,1366918403026542595
4,@barcheated @michonnesconnie barchie nace slow...,False,en,2,0,2021-03-03 01:08:22,1366918338207711235
...,...,...,...,...,...,...,...
14995,RT @barchiedestiny: Can we all agree that \n\n...,False,en,0,80,2021-02-25 12:00:11,1364908045592113156
14996,"Actually Im not Varchie or barchie team, Archi...",False,en,0,0,2021-02-25 12:00:08,1364908033239900165
14997,@winlex yeh like im team barchie but im not ma...,False,en,0,0,2021-02-25 11:59:59,1364907993880399873
14998,@normanivixen it is so funny ðŸ˜­we all thought i...,False,en,2,0,2021-02-25 11:59:33,1364907887076769796
14999,RT @dylsbrien: people are already comparing bu...,False,en,0,6,2021-02-25 11:59:19,1364907826712371203

In [33]:
df.drop_duplicates(subset='tweets', inplace=True)

In [34]:
df

,tweets,quote_status,language,favorite_count,retweet_count,time,id
0,RT @ThatsRiverdale: Best part abt fwb between ...,False,en,0,1,2021-03-03 01:11:39,1366919164384800770
1,RT @barchiewalker: NO BUT HE IS LITERALLY SLID...,False,en,0,1,2021-03-03 01:10:48,1366918949355606021
2,@hopextete @vibezreinhart kkkkk nÃ£o tenho culp...,False,pt,0,0,2021-03-03 01:08:53,1366918468537303040
3,RT @archiebstty: riverdale promoting barchie o...,False,en,0,46,2021-03-03 01:08:38,1366918403026542595
4,@barcheated @michonnesconnie barchie nace slow...,False,en,2,0,2021-03-03 01:08:22,1366918338207711235
...,...,...,...,...,...,...,...
14993,Seguo l'hashtag #TheOC su instagram e mi esce ...,False,it,0,0,2021-02-25 12:01:11,1364908298999373825
14994,@thisislaenw_ @rewritethwstars ben diziyi sevi...,False,tr,1,0,2021-02-25 12:00:31,1364908129612423168
14996,"Actually Im not Varchie or barchie team, Archi...",False,en,0,0,2021-02-25 12:00:08,1364908033239900165
14997,@winlex yeh like im team barchie but im not ma...,False,en,0,0,2021-02-25 11:59:59,1364907993880399873
14998,@normanivixen it is so funny ðŸ˜­we all thought i...,False,en,2,0,2021-02-25 11:59:33,1364907887076769796

In [35]:
df=df[df.language =="en"]

In [36]:
df=df.reset_index(drop=True)

In [37]:
df

,tweets,quote_status,language,favorite_count,retweet_count,time,id
0,RT @ThatsRiverdale: Best part abt fwb between ...,False,en,0,1,2021-03-03 01:11:39,1366919164384800770
1,RT @barchiewalker: NO BUT HE IS LITERALLY SLID...,False,en,0,1,2021-03-03 01:10:48,1366918949355606021
2,RT @archiebstty: riverdale promoting barchie o...,False,en,0,46,2021-03-03 01:08:38,1366918403026542595
3,@barcheated @michonnesconnie barchie nace slow...,False,en,2,0,2021-03-03 01:08:22,1366918338207711235
4,RT @barchie247: Imagine varchie kisses and Arc...,False,en,0,1,2021-03-03 01:08:17,1366918318834126848
...,...,...,...,...,...,...,...
6913,barchie in a car #Riverdale,False,en,0,0,2021-02-25 12:03:27,1364908866442571777
6914,there is gonna be so much barchie in this ep i...,False,en,0,0,2021-02-25 12:02:16,1364908571377369090
6915,"Actually Im not Varchie or barchie team, Archi...",False,en,0,0,2021-02-25 12:00:08,1364908033239900165
6916,@winlex yeh like im team barchie but im not ma...,False,en,0,0,2021-02-25 11:59:59,1364907993880399873
6917,@normanivixen it is so funny ðŸ˜­we all thought i...,False,en,2,0,2021-02-25 11:59:33,1364907887076769796

In [38]:
df.to_csv('barchie2.csv', index=False)